@import url(Reset.scss);
@import url(Common.scss);

$soso-color:#ffd5ee;
$main-color:#ff98d6;
$background:#ffff98;
$font-clor:#241f1f;

i{font-size: 20px;}
.chatList{
  height: 85.8%;padding-top: 75px;padding-bottom:6.4%;
.search_box{
  display: flex;flex-direction: row;justify-content: center;align-items: center;height: 9%;min-height: 55px;margin-bottom: 10px;
  .search_inner{
    display: flex;flex-direction: row;width: 88%;padding: 8px;background:$background;border-radius: 20px;
    margin: 0 auto;
    box-shadow: 4px 4px 5px #e0e0e0;
    i{
      font-size: 17px;color: $font-clor;
      align-self: center;margin-left: 20px;
    }
    input{
      flex: 1;background: transparent;border: none;
      &::placeholder{text-align: center;}

    }
  }
}

.friends{
  height:calc(100vh + 150px);
.main_section{
  ul{
    display: flex;flex-direction: column;width: 98%;margin: 0 auto;box-sizing: border-box;
  
    li{
      
      a{
        display: flex;flex-wrap: wrap;font-size: 16px;align-items: center;
      }
    }
  }
  
  .chats_img{
    width: 70px;height: 70px;margin: 18px;
    img{width: 70px;height: 70px;border-radius: 50%;
    object-fit: cover;
    }
  }
  .chats_cont{
    flex: auto;display: flex;flex-direction: column;justify-content: center;
    .chats_name{
      font-weight: bold;margin-bottom: 5px;font-size: 20px;
    }
    .chats_latest{
      font-size: 16px;font-weight: bold;color: #444444;
    }
  }

  .chats_time{
    font-weight: 600;
    margin-right: 15px;font-size: 14px;color: #8e9399;
  }

}
}







.chat_fa_btn{
  position: fixed;right: 30px;bottom: 90px;
  span{
    display: flex;justify-content: center;align-items: center;width: 60px;height: 60px;background: #4c94ff;border-radius: 50% 50% 5px 50%;box-shadow: 0 2px 6px #0004;font-size: 18px;color: #513736;transition: color 300ms linear 0s;
    &:hover{background: #1573ff;}
    i{font-size: 30px;color: #fff;margin-top: 5px;}
  }
}

}







