@import url(Reset.scss);
@import url(Common.scss);

$soso-color:#ffd5ee;
$main-color:#ff98d6;
$background:#ffff98;
$font-clor:#241f1f;

.header_color{
  z-index: 1;
  position: fixed;left: 0;top: 0;
  width: 100%;height: 70px;display: flex;flex-direction: column;border-radius: 0 0 10px 10px;
  background: #f8f8f8;color: $font-clor;padding: 0 15px;box-sizing: border-box;overflow:hidden;
    .status_bar{ 
    display: flex;flex-direction: row;justify-content: space-between;align-items: center;height: 100%;
    div{
      flex: 1;
      //border: 1px solid red;
    &:nth-child(1){
      text-align: left;
    }
    &:nth-child(2){
      text-align: center;
    }
    &:nth-child(3){
      text-align: right;
    }
    *{padding: 3px;vertical-align: middle;}
    }

  }
  .title_bar{
    display: flex;flex-direction: row;justify-content: space-between;align-items: center;height: 62.5%;
    padding-bottom: 15px;
    *{
      flex: 1;font-size: 16px;
      //border: 1px solid red;
    }
    h1{
      order: 2;text-align: center;
      font-size: 24px;font-weight: bold;color: $main-color;
    }
    .left_item{
      order: 1;text-align: left;margin-top: 3px;
      a{
        color: $font-clor;
      }
    }
    .right_item{
      order: 3;text-align: right;font-size: 20px;
      a{
        color: $font-clor;
      }
    }
  }

}


.main{position: relative;
  height: calc(100vh + 100%);
  display: flex;flex-direction: column;
  padding-top: 64px;background: #f8f8f8;width: 100%;padding-bottom: 50px;
  .date_info{
    opacity: 0.5;text-align: center;margin: 10px;
  }
  .chat_box{
    display: inline-flex;flex-direction: column;align-items: flex-start;width: fit-content;max-width: calc(100% - 80px);position: relative;
   
  }
  .my{
    align-self: flex-end;align-items: flex-end;max-width: 240px;margin-right: 10px;width: 100%; 
    
    div{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;margin-bottom: 20px;
      .my_box{
        font-size: 15px;font-weight: bold;color: $font-clor;
        line-height: 1;margin: 5px;padding: 10px 15px;border-radius: 15px 15px 0 15px;background:$soso-color;
        box-shadow: 4px 4px 5px #d6d6d6;
      }
      img{
        margin: 10px;width: 110px;height: 110px;background-size: cover;
        border-radius: 20px;
      }
      span{
        display: inline;margin-top: 5px;font-size: 12px;
        position: relative;
      }
      .trash_icon{background: transparent;border: none;position: absolute;right: 100px;bottom: 0px;font-size: 15px;color: #A4A9CE;}
    }
    .chatmy:last-of-type{margin-bottom:100px;}
  }




  .chat{
    font-size: 15px;line-height: 1;margin: 5px;padding: 10px 15px;border-radius: 15px 15px 15px 0;background:$background;box-shadow: 4px 4px 5px #d6d6d6;
    font-weight: bold;color: $font-clor;
  }




  
  .other{
    margin-top: 20px;margin-left: 85px;
    .profile_img{
      position: absolute;left: -65px;top: -5px;width: 35px;height: 35px;
      img{width: 60px;height: 60px;border-radius: 50%;
      background-size: cover;}
    }
    .profile_name{
      display: block;font-weight: bold;margin: 5px;
      font-size: 18px;color: $font-clor;
    }
    .chat_time{
      position: absolute;right: -30px;bottom: -5px;width: 50px;opacity: 0.5;
    }
  }
}

// #e0edff  | #1573ff  

footer{
  display: flex;justify-content: space-around;align-items: center;position: fixed;left: 0;bottom: 0;width: 100%;height: 80px;background: #fff;

  form{
    width: calc(100% - 40px);display: flex;
    justify-content: space-around;
    align-items: center;

    .chat_insert_plus{
      span{font-size: 25px;color: $main-color;
        line-height: 60px;
      }
    }
    .chat_input{
      width: 75%;padding: 14px 15px;border-radius: 25px;background: $background;box-shadow: 4px 4px 4px #dedede;
      border: none;
      &::placeholder{padding-left: 5px;}

    }
    .chat_input_value{
      transform: translateY(5px);
      background: none;border: none;font-size: 26px;color: $main-color;
    }







    .ex_img{position: absolute;top: -140px;left: 50%;transform: translateX(-50%);vertical-align: bottom;width: 100%;
      align-items: center;background: rgba(0, 0, 0, 0.3);height: 140px;line-height: 110px;
      justify-content: center;display:flex;
    img{background-size: contain;}
    button{background: transparent;border: none;font-size: 20px;padding-left: 10px;}
  }
      


    // fieldset.text_box{
    //   position: relative;display: flex;justify-content: flex-end;align-items: center;width: 100%;
    //   .text_field{
    //     width: calc(100% - 40px);height: 32px;
    //   }
    //   .emoticon_btn{
    //     position: absolute;right: 45px;
    //     a{
    //       color: #b3b4b4;
    //     }
    //   }
    //   .voice_btn a{
    //     display: block;width: 34px;height: 37px;margin-right: 5px;line-height: 37px;text-align: center;background: #ffe73a;color: #513736;font-size: 16px;
    //   }
    // }

  }
}

