@import url(Reset.scss);
$soso-color:#ffd5ee;
$main-color:#ff98d6;
$background:#ffff98;
$font-clor:#241f1f;

.header{
  z-index: 1;
  position: fixed;left: 0;top: 0;
  width: 100%;height: 70px;display: flex;flex-direction: column;border-radius: 0 0 10px 10px;
  background: transparent;color: $font-clor;padding: 0 15px;box-sizing: border-box;overflow:hidden;
    .status_bar{ 
    display: flex;flex-direction: row;justify-content: space-between;align-items: center;height: 100%;
    div{
      flex: 1;
      //border: 1px solid red;
    &:nth-child(1){
      text-align: left;
    }
    &:nth-child(2){
      text-align: center;
    }
    &:nth-child(3){
      text-align: right;
    }
    *{padding: 3px;vertical-align: middle;}
    }

  }
  .title_bar{
    display: flex;flex-direction: row;justify-content: space-between;align-items: center;height: 62.5%;
    padding-bottom: 15px;
    *{
      flex: 1;font-size: 16px;
      //border: 1px solid red;
    }
    h1{
      order: 2;text-align: center;
      font-size: 24px;font-weight: bold;color: $main-color;
    }
    .left_item{
      order: 1;text-align: left;
      margin-top: 3px;
      a{
        
        color: $font-clor;
      }
    }
    .right_item{
      order: 3;text-align: right;font-size: 20px;
      a{
        color: $font-clor;
      }
    }
  }

}