// more.scss
@import url(Reset.scss);
@import url(Common.scss);

.outher_main{
  height: 85.8%;
  //padding-top: 64px;
  .user_info{
    display: flex;align-items: center;height: 72px;border-bottom: 1px solid #ebebeb;
    .profile_img_empty{
      margin-left: 20px;
      display: block;
      background: url(../images/profile4.jpg)no-repeat 0 60%;
      width: 60px;height: 60px;background-size: cover;border-radius: 50%;
      .home_profile_up{
        width: 60px;height: 60px;border-radius: 50%;
        display: block;object-fit: cover;
      }
    }
    .profile_info{
      flex:auto;display: flex;flex-direction: column;
      .profile_name{
        margin-left: 20px;
        font-size: 16px;font-weight: bold;
      }
      .profile_email{
        margin-left: 20px;
        color: #8e9399;
      }
    }
    .chat_img{
      span{
        font-size: 30px;margin-right: 15px;color: #513736;
      }
    }
  }

  .user_menu{
    height: 125px;border-bottom: 1px solid #ebebeb;
    ul{
      display: flex;flex-direction: row;align-items: center;height: 100%;
      li{
        overflow: hidden;flex: 1;
        span{
          display: flex;flex-direction: column;align-items: center;color: #513736;font-weight: bold;transition: transform 300ms linear 0s;
          &:hover{transform: scale(1.05);}
          i{
            font-size: 30px;margin-bottom: 10px;
          }
        }
      }
    }
  }

  .plus_friends{
    height: 280px;border-bottom: 1px solid #ebebeb;
    header{
      display: flex;justify-content: space-between;font-size: 16px;padding: 5px 15px;margin-bottom: 15px;border-bottom: 1px solid #ebebeb;
      span{
        color: #8e9399;
      }
    }
    .plus_list{
      display: flex;flex-wrap: wrap;
      li{
        display: flex;align-items: center;width: 50%;height: 45px;
        span{
          i{
            margin: 0 15px;font-size: 16px;
          }
        }
      }
    }
  }

  .more_app{
    padding: 15px;
    ul{
      display: flex;flex-direction: row;
      li{
        width: 75px;
        a{
          display: flex;flex-direction: column;align-items: center;width: 100%;
          span.app_icon{
            display: block;width: 44px;height: 44px;margin-bottom: 10px;background: #ff7f7f;
          }
        }
      }
    }
  }
}

.cancelBtn{font-size: 17px;margin-left: 20px;border-bottom: 2px solid #ccc;padding-bottom: 5px;
&:hover{
  color: #ebebeb;cursor: pointer;
}}
